name: Build OpenCV

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    container:
      image: ghcr.io/saurabh-git-dev/raspberrypi-os:python3.10-bookworm
    defaults:
      run:
        shell: bash
    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y \
            cmake g++ pkg-config git ca-certificates curl \
            build-essential libgtk2.0-dev libavcodec-dev libavformat-dev libswscale-dev \
            libavutil-dev libswresample-dev libavfilter-dev libavdevice-dev \
            libjpeg-dev libpng-dev libtiff-dev libopenexr-dev libtbb-dev \
            libv4l-dev libxvidcore-dev libx264-dev
          
      - name: Restore OpenCV static cache
        id: cache-opencv-static
        uses: actions/cache@v4
        with:
          path: |
            /usr/local/include/opencv4
            /usr/local/lib/pkgconfig/opencv4.pc
            /usr/local/lib/libopencv*.a
            /usr/local/lib/opencv4
          key: ${{ runner.os }}-${{ runner.arch }}-opencv-static-${{ env.OPENCV_VERSION }}-v1

      - name: Build and install OpenCV static
        if: steps.cache-opencv-static.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/hybridgroup/gocv.git
          cd gocv

          sed -i 's/sudo //g' Makefile

          make install_raspi BUILD_SHARED_LIBS=OFF

