name: Build App Binary

on:
  push:
    branches:
      - "**"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    container:
      image: ghcr.io/saurabh-git-dev/raspberrypi-os:python3.10-bookworm
    defaults:
      run:
        shell: bash
    env:
      OPENCV_VERSION: 4.13.0
      INSTALL_PREFIX: /usr/local
      BUILD_ROOT: /tmp/opencv-static-build
      DISABLE_GUI_VIDEO_BACKENDS: 1
      INSTALL_DEPS: 1
      FORCE_CLEAN: 1
      OPENCV_CACHE_KEY: ubuntu-24.04-opencv-static-4.13.0-guioff-1
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install app build dependencies
        run: |
          apt-get update
          apt-get install -y cmake g++ pkg-config libcamera-dev


      - name: Restore OpenCV cache
        id: restore-opencv-cache
        uses: actions/cache/restore@v4
        with:
          path: |
            /usr/local/include/opencv4
            /usr/local/lib/libopencv*.a
            /usr/local/lib/opencv4
            /usr/local/lib/cmake/opencv4
            /usr/local/lib/pkgconfig/opencv4.pc
          key: ${{ env.OPENCV_CACHE_KEY }}-${{ hashFiles('scripts/build-opencv-static.sh') }}

      - name: Build OpenCV static with project script (if cache miss)
        if: steps.restore-opencv-cache.outputs.cache-hit != 'true'
        run: |
          chmod +x ./scripts/build-opencv-static.sh
          ./scripts/build-opencv-static.sh

      - name: Save OpenCV cache (if just built)
        if: steps.restore-opencv-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: |
            /usr/local/include/opencv4
            /usr/local/lib/libopencv*.a
            /usr/local/lib/opencv4
            /usr/local/lib/cmake/opencv4
            /usr/local/lib/pkgconfig/opencv4.pc
          key: ${{ env.OPENCV_CACHE_KEY }}-${{ hashFiles('scripts/build-opencv-static.sh') }}

      - name: Build app binary with local script
        run: |
          chmod +x ./scripts/build-app-local.sh
          ./scripts/build-app-local.sh

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: libcamera-recorder
          path: libcamera-recorder
